* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(./images.jpg);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.header {
  border: 2px black solid;
  width: 900px;
  height: 1100px;
  text-align: center;
  padding: 40px;
  background-color: white;
  /* filter: drop-shadow(-100px 20px 18px rgba(0, 0, 0, 0.503)); */
}
